# Dependency directories
/node_modules

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
/build
/dist

# Logs
/logs

# User-specific files
/.idea
/.vscode
*.iml
*.log

# OS-specific files
.DS_Store
Thumbs.db
