.content-main{
    width: 915px;
    height: 100vh;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    top: 135px;
    left: 56px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #DBC4D7;
    overflow-y: scroll;
}
.suggestions{
    width: 288px;
    height: 424px;
    display: flex;
    position: absolute;
    align-items: flex-end;
    flex-direction: column;
    top: 135px;
    right: 56px;
    gap: 10px;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #DBC4D7;
}
.chatBox{
    width: 288px;
    height: 120px;
    display: flex;
    position: absolute;
    align-items: flex-end;
    flex-direction: column;
    top: 573px;
    right: 56px;
    gap: 10px;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #DBC4D7;
}
.post-box{
    width: 875px;
    height: 180px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    left: 20px;
    top: 50px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #DBC4D7;
}
.feed-box{
    width: 875px; 
    height: auto; 
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    left: 20px; 
    top: 300px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #DBC4D7;
}
.feed-tabs {
    width: 100%; /* Make tabs full width of feed-box */
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: space-around; /* Distribute tabs evenly */
    background-color: #F3EBF2; 
    border-bottom: 1px solid #ccc; 
}
.tab {
    cursor: pointer; 
    padding: 10px 20px; 
}
.tab.active {
    font-weight: bold; 
    color: #333; 
    
}
.feed-content {
    width: 100%; /* Make tabs full width of feed-box */
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background-color: #F3EBF2; 
    border-bottom: 1px solid #ccc; 
}